<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="hibernate-configuration"
    type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="dialect">NHibernate.Dialect.MsSql2005Dialect</property>
      <property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
      <property name="connection.connection_string">Data Source=.\SQLEXPRESS;AttachDbFilename="C:\Documents and Settings\HP\My Documents\Visual Studio 2008\WebSites\AirnetzCharter\App_Data\AirnetzCharter.mdf";Integrated Security=True;User Instance=True</property>
      <!--<property name="connection.connection_string">Server=75.125.28.35;User ID=airnetzdb;Password=airnetzdb98624;Initial Catalog=airnetzdb</property>-->
    </session-factory>
  </hibernate-configuration>
  <appSettings/>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="MyDBConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Documents and Settings\HP\My Documents\Visual Studio 2008\WebSites\AirnetzCharter\App_Data\AirnetzCharter.mdf;Integrated Security=True;User Instance=True" />
    <!--<add name="MyDBConnectionString" connectionString="Server=75.125.28.35;User ID=airnetzdb;Password=airnetzdb98624;Initial Catalog=airnetzdb" />-->
  </connectionStrings>
  <system.web>
    <membership defaultProvider="MySqlMembershipProvider">
      <providers>
        <clear/>
        <add connectionStringName="MyDBConnectionString" name="MySqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>
    </membership>
    <httpModules>
      <add name="NHibernateCurrentSessionWebModule" type="NHibernateCurrentSessionWebModule" />
    
    </httpModules>

    <compilation defaultLanguage="c#" debug="true">

    </compilation>
    <customErrors mode="Off">

    </customErrors>

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXAUTH" protection="All"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>


  </system.web>
  <location path="Operators">
    <system.web>
      <authorization>
        <allow roles="Operators"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Agent">
    <system.web>
      <authorization>
        <allow roles="Agent"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Customer">
    <system.web>
      <authorization>
        <allow roles="Customer"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Customer/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Operators/Login.aspx">
    <system.web>

      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Admin/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Agent/Login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.codedom>
  </system.codedom>

  <system.webServer>
  </system.webServer>

</configuration>
